.modalFull {
	background-color: #f7786b;

}

.modalTitle {
	color: black;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	background-color: ;
}
.modalSubtitle {
	color: black;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}
